---
import HomeIcon from "@/modeler/icons/Home.jsx";

---
<div class="navbar bg-base-100 shadow-lg ">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/"><HomeIcon /> Inicio</a>
  </div>
  <div class="hidden md:block">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          href="/modeler/eyJhdG9tcyI6W3siaWQiOiJoeDEiLCJwb3MiOlsiMCIsIjAiLCIwIl0sInJhZCI6IjAuNSIsImNvbG9yIjoiIzJmYTRlNyJ9XSwiY29ubmVjdG9ycyI6W119"
          >Modelador</a
        >
      </li>
      <li><a href="/molecules">Moleculas</a></li>
      <li><a href="/docs">Documentación</a></li>
    </ul>
  </div>
</div>
