---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FESA Molecule modeler - Home">
  <div class="flex flex-col items-center justify-center">
    <h1
      class="mt-14 text-5xl font-bold text-pretty max-w-screen-sm text-center text-white"
    >
      Modela moleculas de manera intuitiva y fácil.
    </h1>
    <h2
      class="mt-6 text-xl font-light text-pretty max-w-lg text-center text-white"
    >
      Modela, utiliza y comparte tus modelos con FESA Molecule. Una aplicación
      de creación de modelos moleculares por y para estudiantes.
    </h2>
    <a class="btn btn-accent mt-3" href="/modeler">Modela</a>
    <img src="/modeler.png" alt="modeler" class="mt-14 max-w-lg rounded-md" />
  </div>
</Layout>
